absl-py>=0.12.0
apache_beam
earthengine-api
geopandas
google_apitools
google-cloud-aiplatform
google-cloud-bigquery-storage
ml-collections
numpy
opencv-python
pandas<2.0.0
pillow
pyproj
pytest
rasterio
requests
rio-cogeo
rtree
shapely<2
scikit-learn
tensorflow
tensorflow-datasets
tensorflow_probability
tqdm
openlocationcode
xmanager
tensorflow-text
