absl-py>=0.12.0
apache_beam[gcp]==2.54.0
earthengine-api
gcsfs
geopandas>=0.8
google_apitools
google-cloud-aiplatform>=1.35.0
ml-collections
numpy
opencv-python
pandas>=2
pillow
pyproj
pytest
rasterio
requests
rio-cogeo
rtree
shapely>=2
scikit-learn
tensorflow==2.14.0
tensorflow-datasets
tensorflow_probability
tqdm
openlocationcode
xmanager
tensorflow-text
scipy
