body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  margin-top: 30px;
  color: #007bff; /* Blue heading */
}

h4 {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

td{
  width: 50px;
}

td.label {
  width: 150px;
}

.summary-table {
  margin-bottom: 20px;
}

#chart_div {
  width: 500px;
  height: 200px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

iframe {
  width: 600px;
  height: 100%;
  border: none;
}

#labels-filter {
  margin-bottom: 20px;
  margin-right: 20px;
}

#labels-filter-label {
  margin-right: 10px;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item {
  margin-bottom: 15px;
}

.item-top-margin {
  margin-top: 120px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-table-header {
  display: flex;
  flex-direction: row;
}

.tasks-table {
  margin-bottom: 20px;
  width: 100%;
}

.tasks-table td{
  padding-right: 15px;
}
